<mat-sidenav-container fullscreen>
  <mat-sidenav #start (click)="start.close()">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['users', 'account']" matTooltip="gestion du compte utilisateur">
        <mat-icon>account_circle</mat-icon>
        <span>Utilisateur:  {{authService.user()?.username}}</span>
      </a>
      <a mat-list-item routerLink="/" matTooltip="Liste des formulaire">
        <mat-icon>library_books</mat-icon>
        <span>Formulaires</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <div class="toolbar-tools">
      @if(isLoggedIn()) {
      <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>
      }
      <div class="spacer"></div>
      @if(isLoggedIn()) {
      <button mat-icon-button (click)="onLogout()" class="right-button">
        <mat-icon matTooltip="Déconnexion">logout</mat-icon>
      </button>
      }@else{
      <button mat-icon-button [routerLink]="['login']" class="right-button">
        <mat-icon matTooltip="Connexion">login</mat-icon>
      </button>
      }
    </div>
  </mat-toolbar>

  <div class="app-main-container">
    <app-loading />
    <app-messages />
    <router-outlet />
  </div>
</mat-sidenav-container>
