.form {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Ajoute un espace entre chaque champ */
}

.mat-form-field {
  width: 100%; /* S'assure que chaque champ occupe toute la largeur */
}

.form-field {
  width: 400px;
}

.form-card {
  max-width: 400px;
  margin-bottom: 20px;
}

.form-card-footer {
  padding: 16px;
}

.form-card-button {
  margin-right: 10px;
}

.form-button {
  margin-bottom: 20px;
}
