.form {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.form-field {
  width: 400px;
}

.form-card {
  max-width: 400px;
  margin-bottom: 20px;
}

.form-card-footer {
  padding: 16px;
}

.form-card-button {
  margin-right: 10px;
}

.form-button {
  margin-bottom: 20px;
}
