/* @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"; */

.app-main-container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Ajoute un espace entre chaque champ */
}

.mat-form-field {
  width: 100%; /* S'assure que chaque champ occupe toute la largeur */
}

.form-field {
  width: 400px;
}

.form-card {
  max-width: 400px;
  margin-bottom: 20px;
}

.form-card-footer {
  padding: 16px;
}

.form-card-button {
  margin-right: 10px;
}

.form-button {
  margin-bottom: 20px;
}

.toolbar-tools {
  display: flex;
  align-items: center;
  width: 100%;
}

.spacer {
  flex-grow: 1;
}

.right-button {
  margin-left: 10px; /* Ajuste la valeur si besoin */
}

.mat-mdc-snack-bar-container.error {
  --mdc-snackbar-container-color: #fc00ba;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.info {
  --mdc-snackbar-container-color: #2176f7;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.warning {
  --mdc-snackbar-container-color: #fcec01;
  --mdc-snackbar-supporting-text-color: black;
}

.mat-mdc-snack-bar-container.success {
  --mdc-snackbar-container-color: #4ad700;
  --mdc-snackbar-supporting-text-color: black;
}